/* Start Variables */
:root {
    --linear-gradient: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
    --err-input: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark--violet: hsl(278, 68%, 11%);
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
@media (min-width: 992px) {
    .container{
        flex-direction: row;
    }
}
.content{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 450px;
    margin: 0 auto;
}
.card-content{
    position: relative;
}
/* End Global Rules */

/* Start Side  */
.side{
    background-image: url(../images/bg-main-mobile.png);
    background-size: cover;
    flex-basis: 30%;
    color: white;
}
@media (min-width: 992px) {
    .side{
        background-image: url(../images/bg-main-desktop.png);
        flex-basis : 40%;
        position: relative;
    }
}
.side .content{
    height: 100%;
    position: relative;
}
@media (min-width: 992px) {
    .side .content{
        position: unset;
    }
}
.card-content img{
    width: 300px;
    max-width: 100%;
}
@media (min-width: 992px) {
    .card-content img{
        width: 350px;
    }
}
@media (min-width: 1200px) {
    .card-content img{
        width: 400px;
    }
}
.front-card{
    position: absolute;
    bottom: -38%;
    left: 30px;
    z-index: 1;
}
@media (max-width: 450px) {
    .side .front-card {
        bottom: -45%;
    }
}
@media (min-width: 992px) {
    .front-card{
        top: 20%;
        right: -20%;
        left: unset;
        bottom: unset;
    }
}
.front-card svg{
    position: absolute;
    top: 10%;
    left: 6%;
}
.front-card .num-card{
    font-size: 24px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align:center;
}
.front-card .holder-name,
.front-card .exp-date{
    position: absolute;
    font-size: 15px;
    bottom: 15%;
}
.front-card .holder-name{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 500;
    left: 32px;
}
.front-card .exp-date{
    right: 32px;
}
@media (min-width: 922px) {
    .front-card .holder-name{
        left: 20%;
    }
    .front-card .exp-date{
        right: 20%;
        font-size: 1em;
    }
}
.back-card{
    position: absolute;
    bottom: 10px;
    right: 30px;
}
@media (max-width: 450px) {
    .side .back-card {
        bottom: unset;
        top: 0;
    }
}
@media (min-width: 992px) {
    .side .back-card {
        top: unset;
        top: 55%;
        right: -30%;
    }
}
.back-card p{
    position: absolute;
    top: 42%;
    right: 16%;
}
@media (min-width: 922px) {
    .back-card p{
        top: 43%;
    }
}
/* End Side  */

/* Start Content */
@media (min-width: 992px) {
    .container > .content{
        max-width: 350px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1200px) {
    .container > .content{
        max-width: 400px;
        display: flex;
        align-items: center;
    }
}
form{
    margin-top: 65px;
    margin-bottom: 20px;
}
/* @media (min-width: 420px) {
    form{
        margin-bottom: -100px;
    }
}
@media (min-width: 768px) {
    form{
        margin-bottom: -200px;
    }
}
@media (min-width: 992px) {
    form{
        margin: 0;
    }
} */
form label{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
form input{
    margin: 5px 0;
    padding-left: 15px;
    border-radius: 6px;
    height: 40px;
    border-color: #a2a2ac38;
    transition: 0.3s;
    color: hsl(278, 94%, 30%);
}
form input[name = "name"],
form input[name = "num"]{
    width: 100%;
}
.foot{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.foot .date{
    width: 50%;
    /* justify-content: space-between; */
}
form input[name="mm"],
form input[name="yy"]{
    width: 45%;
}
form input[name="yy"]{
    margin-left: 5px;
}
.foot .cvc{
    width: 47%;
    position: relative;
}
form input[name="cvc"]{
    max-width: 100%;
    margin-top: 25px;
}
form label[for="cvc"]{
    position: absolute;
    bottom: 75%;
    left: 0%;
}
button{
    width: 100%;
    padding: 15px 0;
    border-radius: 6px;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(278, 68%, 11%);
    cursor: pointer;
}
form input::placeholder{
    /* padding-left: px; */
    color: hsla(280, 1%, 52%, 0.33);
}
/* End Content  */

/* Start Active Mode */
form input:focus{
    outline: none;
    padding-left: 10px;
    border-color: hsl(249, 99%, 64%);
    color:hsl(278, 94%, 30%);
}
form p{
    font-size: 15px;
    font-weight: 500;
    margin-top: -2px;
    color: var(--err-input);
    display: none;
    position: absolute;
}
/* End Active Mode */

/* Start Complete Section */
.complete{
    height: 310.9px;
    margin: 80px auto 20px;
    text-align: center;
}
.complete h3{
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.complete p{
    font-size: 15px;
    font-weight: 500;
    color: var(--Dark-grayish-violet);
    margin: 20px 0 40px;
}
.complete button{
    padding: 13px 0;
}
/* End Complete Section */
